%p#notice= notice

%p
  %b Email:
  = @user.email
%p
  %b Fname:
  = @user.fname
%p
  %b Lname:
  = @user.lname
%p
  %b Username:
  = @user.username
%p
  %b Gender:
  = @user.gender
%p
  %b State:
  = @user.state
%p
  %b Zip:
  = @user.zip
%p
  %b Country:
  = @user.country
%p
  %b Birthday:
  = @user.birthday

= link_to 'Edit', edit_user_path(@user)
\|
= link_to 'Back', users_path
