%p#notice= notice

%p
  = @user.business_profile ? link_to('Business Page', user_business_profile_path(@user.id, @user.business_profile.id)) : link_to('Create A Business Page',  user_business_profiles_path(@user.id), :method => 'post') 

%p
  %b Email:
  = @user.email
%p
  %b Fname:
  = @user.fname
%p
  %b Lname:
  = @user.lname
%p
  %b Username:
  = @user.username
%p
  %b Gender:
  = @user.gender
%p
  %b State:
  = @user.state
%p
  %b Zip:
  = @user.zip
%p
  %b Country:
  = @user.country
%p
  %b Birthday:
  = @user.birthday

= link_to 'Edit', edit_user_path(@user)
\|
= link_to 'Back', users_path
